<div class="lecture-noti" data-id="<%=@memo.id%>" data-toggle="tooltip" data-placement="top" title="" data-original-title="<%=@memo.content%>">
	<i class="material-icons ic-lecture-noti">assignment</i>
	<span class="lecture-noti-title"><%=@memo.title%></span>
</div>